.footer{
    background: #000000;
}

a{
    text-decoration: none;
}

.footer-container{
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.footer-texto{
    color: #cccccc;
    font-size: 1.4rem;
    line-height: 1.1;
}

.footer-contato li, a{
    color: #ffffff;
}

.footer-contato li{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.1;
    margin-bottom: 20px;
    align-items: end;
    margin-left: 120px;
}

.footer-copy{
    color: #8f8f8f;
    font-size: 1.2rem;
    grid-column: 1 /-1;
}

@media (max-width: 800px){
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-contato li{
        font-size: 1.2rem;
    }

    .footer-texto{
        font-size: 1.4rem;
    }
}